body{
    margin: auto;
    background-color:#ecd4c9
}
#header{
    height:60px;
    width:100%;
    background-color: #d2a08c;
}

#icon{
    font-size:30px;
    color:#13648c;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    position: absolute;
}

#icon >a {
    color:#13648c;
}

a{
    text-decoration:none
}

#social{
    float: right;
    margin-right: 2%;
}
.slogo{
    height: 50px;
    width: 50px;
}

.heading{
    text-align: center;
    font-size:30px;
    font-weight: bold;
}


.filter{
    width:20%;
    border:2px solid green;
    height: 600px;
    float: left;
}

.tiles{
    width:77%;
    margin-left: 2%;
    float: left;
    margin-top:-2%
}

.content{
    width:88%;
    margin-left: 6%;
    height: 800px;
    margin-top: 1%;
}

.cardContainer{
    width:99%;
    box-shadow: 10px 2px 10px gray;
    height:300px;
    margin-top:2%
}

#footer{
    height:60px;
    background-color: #d2a08c;
    width:100%;
    margin-top: 2%;
    display: inline-block
}