body{
    margin: auto;
    background-color:#ecd4c9
}
#header{
    height:60px;
    width:100%;
    background-color: #d2a08c;
}

#icon{
    font-size:30px;
    color:#13648c;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    position: absolute;
}

#icon >a {
    color:#13648c;
}

a{
    text-decoration:none
}

#social{
    float: right;
    margin-right: 2%;
}
.slogo{
    height: 50px;
    width: 50px;
}