body{
    margin: auto;
    background-color:#ecd4c9
}
#header{
    height:60px;
    width:100%;
    background-color: #d2a08c;
}

#icon{
    font-size:30px;
    color:#13648c;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    position: absolute;
}

a{
    text-decoration:none
}

#social{
    float: right;
    margin-right: 2%;
}
.slogo{
    height: 50px;
    width: 50px;
}

/* Search Css */

#search{
    height:400px;
    width:100%;
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 400px;
}

#logo{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    margin-left:43%;
    margin-top:2%;
    position: absolute;
    font-size:80px;
    text-align: center;
    animation: movelogo 20s infinite;
}

#logo > span{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 16%;
    margin-left: -36%;
    position: absolute;

}

@keyframes movelogo{
    0% {margin-left:43%}
    25% {margin-left:45%}
    50% {margin-left:48%}
    75% {margin-left:45%}
    100% {margin-left:43%}

}

/*
#logo:hover{
    transition: margin-left 5s;
    margin-left: 95%;
}
*/

#heading{
    font-size:45px;
    text-align: center;
    color:white;
    margin-top:14%;
    margin-left: 31%;
    position: absolute;
}

.dropdown{
    height: 60px;
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    position: absolute;

}

select{
    height:60px;
    width:40%;
    font-size: 20px
}

.restDrop{
    width:59%; 
}

#quickSearch{
    width:80%;
    margin-left: 10%;
    margin-top:3%
}

.quickHeading{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color:red;
    margin-left: 2%;
}

.quickSubHeading{
    line-height: 2;
    font-size: 20px;
    color:gray;
    margin-left: 2%;
}

.mainContainer{

}

.tileContainer{
    height:300px;
    width:30%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow: 10px 20px 10px gray;
    border-radius:20%;
    animation: danceContainer 10s infinite
}

@keyframes danceContainer{
    0% {transform: rotate(-5deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-5deg)}
}

.tileContainer:hover{
    /*transform: scale(1.1)
    transform: rotate(-30deg)
    transform: skewY(30deg)*/
    transform: scale(1.1)
}
.tileComponent1 > img {
    width:100%;
    height:180px
}

.tileComponent2 >h2{
    padding-left: 28%;
    font-size:30px;
}

.tileComponent2 > h2 > a{
    color: black !important;
}

.tileComponent2 > p {
    text-align: center;
    font-size:20px;
    color:gray
}


#footer{
    height:60px;
    background-color: #d2a08c;
    width:100%;
    margin-top: 2%;
    display: inline-block
}

@media screen and (max-width:1600px){
    body{
        background-color:rgb(200, 246, 200);
    }
}

@media screen and (max-width:1400px){
    body{
        background-color:rgb(208, 200, 246);
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:rgb(245, 193, 223);
    }
    #heading{
        margin-top:18%;
    }
    
    .dropdown{
        margin-top: 28%;
        margin-left: 32%;
    }
}
@media screen and (max-width:1000px){
    body{
        background-color:#e5adad;
    }
    #heading{
        margin-top:20%;
        margin-left: 20%;
    }
    
    .dropdown{
        margin-top: 32%;
        margin-left: 24%;
    }
    .tileContainer{
        width:45%;
    }
}
@media screen and (max-width:800px){
    body{
        background-color:rgb(151, 237, 248);
    }
    .tileContainer{
        width:75%;
    }
    #logo{
        height: 120px;
        width: 120px;
        font-size:60px
    }
   
    #heading{
        font-size: 35px;
        margin-top: 26%;
        margin-left: 15%;
    
    }
    select {
        height: 60px;
        width: 60%;
    }
    .dropdown{
        width: 100%;
        margin-top: 36%;
        margin-left: 25%;
    }
    .restDrop {
        width: 60%;
    }
        
}
@media screen and (max-width:600px){
    body{
        background-color:rgb(243, 147, 147);
    }
}